@model List<char>


@if (@ViewBag.roundCap == 6)
{
    <partial name="/Views/Shared/_HangmanStart.cshtml" />
}

@if (@ViewBag.roundCap == 5)
{
    <partial name="/Views/Shared/_HangmanHead.cshtml" />
}

@if (@ViewBag.roundCap == 4)
{
    <partial name="/Views/Shared/_HangmanBody.cshtml" />
}

@if (@ViewBag.roundCap == 3)
{
    <partial name="/Views/Shared/_HangmanOneArm.cshtml" />
}

@if (@ViewBag.roundCap == 2)
{
    <partial name="/Views/Shared/_HangmanBothArms.cshtml" />
}

@if (@ViewBag.roundCap == 1)
{
    <partial name="/Views/Shared/_HangmanOneLeg.cshtml" />
}


<link rel="stylesheet" href="~/css/Hangman.css" />


<div style="text-align:center">
    <p>You have @ViewBag.roundCap incorrect guesses remaining.</p>
    <p>
        @foreach (char i in Model)
        {
            <span>@i</span>
        }

    </p>

</div>

<form style="text-align:center" asp-controller="Hangman" asp-action="Hangman">
    <label>Guess a letter!</label>
    <br />
    <input type="text" name="Input" />

</form>

<form style="text-align:center" asp-controller="Hangman" asp-action="GuessAnswer">
    <label>Think you know the answer?</label>
    <br />
    <input type="text" name="Input" />

</form>